@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
  padding-top: 1rem;
  background-color: $footer;
}

.contact-box {
  position: relative;

  &__icon {
    width: 4rem;
    stroke: $primary;
  }

  &__info {
    padding: 0.4rem;
    font-weight: 600;

    &--title {
      font-size: 1.4rem;
      color: $white;
      text-decoration: none;
    }

    &--subtitle {
      font-size: 1rem;
      color: $gray-600;
      text-decoration: none;
    }
  }
}
